parameters:
	ignoreErrors:
		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: src/GraphQL.php

		-
			message: "#^Missing call to parent\\:\\:setUp\\(\\) method\\.$#"
			count: 1
			path: tests/src/Kernel/PantheonDocumentWithSmartComponentTest.php
